*{
  font-size: 0.98em;
}
body{
  background-color: #F7F7F7;
  font-family:  Arial,sans-serif;  
}
body .ui-layout-unit-header-title{
  font-size: 25px;
}
.container{
  width: 380px;
  margin: 10% auto 0 auto;  
}
.container *{
  font-size: 1em;
}
.container table,
.container input[type="text"],
.container input[type="password"]{
  width: 100%;
}
.filter-bar{
  min-height: 41px;
}
.container h1{
  font-size: 20px;
}
.container td a,
.container td input[type="submit"]{
  float: right;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration-line: none;
}
.ui-tabs .ui-tabs-panel{
  padding: 0;
}
#ajax-status{
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 66px;
}
#ajax-status img{
  width: 120px;
  height: auto;
}